<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>

        <meta charset="utf-8">

        <title >
            Image Process
        </title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'image.css' %}">
        
        <!--script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->

    </head>


    <body>

        <div id = 'home'>
            <!--button id = 'upload' class = 'btn btn-danger' >Upload</button>
            <button id = 'url' class = 'btn btn-danger'>Url</button>
            <button id = 'binary' >binary</button-->
            <!--form action = 'upload_file' class='file-upload'  id = 'upload-form' enctype = 'multipart/form-data'>
            
                {% csrf_token %}
                <input id = 'upload-btn' class = 'btn btn-danger' type = 'submit' value = 'Upload'>
                <input id = 'upload-image' class = 'file-input' type = 'file' name = 'image'>
            </form-->

            <center><form action = 'upload_file' id = 'upload-form' enctype = 'multipart/form-data'> 
                
                {% csrf_token %}

                <button id = 'upload-button' class = "file-upload btn btn-danger ">            
                    Start<input id = 'upload-input' type="file" class="file-input" name = 'image'>
                </button>

                <!--div class='btn btn-danger file-upload'><input id = 'upload-input' type="file" class="file-input" name = 'image'></div-->

            </form></center>

        </div>



        <div id = 'process-area'>

            <h1 id = 'filename'></h1>
            <h1 id = 'current-version'></h1>      
            <h1><center><a id = 'process-title' href="image">Image Process</a></center></h1>

            <section id = 'tool-bar'>

                 <section class = 'dropdown level-1'>

                    <button id = 'Files' class = 'btn dropbtn'>File</button>

                    <section class = 'level-2'>
                        
                        <li class = 'sub'>Download</li>

                    </section>
                    
                </section>

                
                <section class = 'dropdown level-1'>
                    <button id = 'smooth' class = 'btn dropbtn'>Smooth</button>

                    <section class = 'level-2'>
   
                        <li>Blur

                            <section class = 'dropdown-menu level-3'>
                                 
                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>
                                    <input id = 'blur-kernel'  type = 'range' min = 3 max = 11 step = 2 value = 3>

                                </li>

                                <li class = 'sub' id = 'blur'>Submit</li>

                            </section>

                        </li>

                        <li >medianBlur

                            <section class = 'dropdown-menu level-3'>
                                 
                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>

                                    <input id = 'medianBlur-kernel'  type = 'range' min = 3 max = 11 step = 2 value = 3>
                                
                                </li>

                                <li class = 'sub' id = 'medianBlur'>Submit</li>

                            </section>

                        </li>

                        <li>GaussianBlur

                            <section class = 'dropdown-menu level-3'>
                                 
                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>

                                    <input id = 'GaussianBlur-kernel'  type = 'range' min = 3 max = 11 step = 2 value = 3>
                                
                                </li>

                                <li class = 'sub' id = 'GaussianBlur'>

                                Submit</li>

                            </section>

                        </li>

                    </section>

                </section>


                <section class = 'dropdown level-1'>

                    <button id = 'Edge' class = 'btn dropbtn'>Edge</button>


                    <section class = 'level-2'>
                        
                        <li>Canny
                            <section  class = 'dropdown-menu level-3'>
                                


                                <li class = 'value-bar'>

                                    TL  :  <p class = 'values'>100</p>
                                    <input id = 'TL'type = 'range' min = 0 max = 255 value = 100>
     
                                </li>

                                <li class = 'value-bar'>

                                    TH  :  <p class = 'values'>200</p>
                                    <input id = 'TH'  type = 'range' min = 0 max = 255 value = 200>

                                </li>

                                


                                <li class = 'sub' id = 'canny'>Submit</li>

                            </section>

                        </li>

                    </section>
                    
                </section>


                <section id = 'undo' class = 'dropdown'>
                    <button class = 'btn dropbtn'>Undo</button>  
                </section>


                <section id = 'toggle' class = 'dropdown'>
                    <button class = 'btn dropbtn'>Toggle</button>  
                </section>

            </section>


            <div id = 'bar'>

                <hr>

            </div>


            <div id = 'image-area'>

                <div id = 'original-image-area'>
                   
                    <!--img id = 'original-image' src = '{% static "tmp/2016-05-2815-53-27-310297.png" %}'></img-->
                </div>

                <div id = 'processing-image-area'>
                    
                    <img id = 'processing-image' src = '{% static "tmp/2016-05-2815-53-27-310297.png" %}'></img>
                </div>

            </div>

        </div>

     
        <script type="text/javascript" src = "{% static 'js/jquery-1.12.4.min.js' %}" defer></script>
        <script src = "{% static 'js/bootstrap.min.js' %}" defer></script>
        <script src = "{% static 'js/vendor/jquery.ui.widget.js' %}" defer></script>
        <script src = "{% static 'js/jquery.iframe-transport.js' %}" defer></script>
        <script src = "{% static 'js/jquery.fileupload.js' %}" defer></script>
        <script src = "{% static 'image.js' %}" defer></script>

    </body>
    
</html>
