<!DOCTYPE html>
{% load staticfiles %}
<html>

    <head>

        <meta charset="utf-8">

        <title >
            Image Process
        </title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/image.css' %}">
        
        <!--script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->

    </head>


    <body>

        <div id = 'home'>

            <center>

                <form action = 'upload_file' id = 'upload-form' enctype = 'multipart/form-data'> 
                
                    {% csrf_token %}

                    <button id = 'upload-button' class = "file-upload btn btn-danger ">Start

                        <input id = 'upload-input' type="file" class="file-input" name = 'image'>

                    </button>

                <!--div class='btn btn-danger file-upload'><input id = 'upload-input' type="file" class="file-input" name = 'image'></div-->

                </form>

            </center>

        </div>

        <div id = 'process-area'>

            <h1 id = 'filename'></h1>
            <h1 id = 'current-version'></h1>      
            <h1>
                <center>
                    <a id = 'process-title' href="image">Image Process</a>
                </center>
            </h1>

            <section id = 'tool-bar'>

               
                <section class = 'dropdown level-1'>

                    <button id = 'Files' class = 'btn dropbtn'>File</button>

                    <section class = 'level-2'>
                        
                        <li id = 'undo' class = 'sub'>
                            Undo
                        </li>

                        <li id = 'redo' class = 'sub'>
                            Redo
                        </li>


                        <li id = 'toggle' class = 'sub'>
                            Toggle
                        </li>


                        <li id = 'reset' class = 'sub'>
                            Reset
                        </li>

                        <li>
                            <a id = 'download-link' href = ''>Download</a>
                        </li>


                    </section>
                    
                </section>

                <section class = 'dropdown level-1'>
                    
                    <button id = 'tool' class = 'btn dropbtn'>Tool</button>

                    <section class = 'level-2'>
   
                        <li>Binary
                        
                            <section  class = 'dropdown-menu level-3'>
                                
                                 <li class = 'value-bar'>

                                   T : <p class = 'values'>128</p>
                                    <input id = 'binary-threshold'  type = 'range' min = 0 max = 255 value = 128>

                                </li>

                                <li class = 'sub' id = 'binary'>Submit</li>

                            </section>

                        </li>

                        <li id = 'otsu' class = 'sub'>
                            otsu threshold
                        </li>

                        
                        <li>Log
                            <section  class = 'dropdown-menu level-3'>
                                
                                 <li class = 'value-bar'>

                                   Constant : <p class = 'values'>0.4</p>
                                    <input id = 'log-constant'  type = 'range' min = 0 max = 1 step = 0.1 value = 0.4>

                                </li>

                                <li class = 'sub' id = 'log'>Submit</li>

                            </section>

                        </li>

                        <li>Powerlaw
                            <section  class = 'dropdown-menu level-3'>
                                
                                 <li class = 'value-bar'>

                                   Constant : <p class = 'values'>0.1</p>
                                    <input id = 'powerlaw-constant'  type = 'range' min = 0 max = 1 step = 0.1 value = 0.1>

                                </li>

                                <li class = 'value-bar'>

                                   Gamma : <p class = 'values'>0.4</p>
                                    <input id = 'powerlaw-gamma'  type = 'range' min = 0 max = 1 step = 0.1 value = 0.4>
                        
                                </li>

                                <li class = 'sub' id = 'powerlaw'>Submit</li>

                            </section>

                        </li>


                        <li id = 'negative' class = 'sub'>
                            Negative
                        </li>

                        <li id = 'fusion' class = 'sub'>
                            Fusion
                        </li>

                        <li id = 'fillhole' class = 'sub'>
                            Fill Hole
                        </li>

                        <li id = 'histogram' class = 'sub'>
                            Histogram Equalization
                        </li>


                        <li id = 'PlotHistogram' class = 'sub'>
                            Plot Histogram
                        </li>


                        


   
                    </section>

                </section>
                
                <section class = 'dropdown level-1'>
                    <button id = 'smooth' class = 'btn dropbtn'>Smooth</button>

                    <section class = 'level-2'>
   
                        <li>Blur

                            <section class = 'dropdown-menu level-3'>
                                 
                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>
                                    <input id = 'blur-kernel'  type = 'range' min = 3 max = 11 step = 2 value = 3>

                                </li>

                                <li class = 'sub' id = 'blur'>Submit</li>

                            </section>

                        </li>

                        <li >Median Blur

                            <section class = 'dropdown-menu level-3'>
                                 
                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>

                                    <input id = 'medianBlur-kernel' class = 'values'  type = 'range' min = 3 max = 11 step = 2 value = 3>
                                
                                </li>

                                <li class = 'sub' id = 'medianBlur'>Submit</li>

                            </section>

                        </li>

                        <li>Gaussian Blur

                            <section class = 'dropdown-menu level-3'>
                                 
                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>

                                    <input id = 'GaussianBlur-kernel'  type = 'range' min = 3 max = 11 step = 2 value = 3>
                                
                                </li>

                                <li class = 'sub' id = 'GaussianBlur'>

                                Submit</li>

                            </section>

                        </li>

                    </section>

                </section> 

                <section class = 'dropdown level-1'>

                    <button id = 'Edge' class = 'btn dropbtn'>Edge</button>


                    <section class = 'level-2'>
                        
                        <li>Sobel
                        
                            <section  class = 'dropdown-menu level-3'>
                                
                                 <li class = 'value-bar'>

                                    X  :  <p class = 'values'>1</p>
                                    <input id = 'Sobel-X'  type = 'range' min = 0 max = 2 value = 1>

                                </li>

                                 <li class = 'value-bar'>

                                    Y  :  <p class = 'values'>1</p>
                                    <input id = 'Sobel-Y'  type = 'range' min = 0 max = 2 value = 1>

                                </li>

                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>
                                    <input id = 'Sobel-Kernel' type = 'range' min = 1 max = 11 value = 3>
     
                                </li>

                                <li class = 'sub' id = 'sobel'>Submit</li>

                            </section>

                        </li>

                        <li>Canny
                        
                            <section  class = 'dropdown-menu level-3'>
                                
                                <li class = 'value-bar'>

                                    TL  :  <p class = 'values'>100</p>
                                    <input id = 'TL'type = 'range' min = 0 max = 255 value = 100>
     
                                </li>

                                <li class = 'value-bar'>

                                    TH  :  <p class = 'values'>200</p>
                                    <input id = 'TH'  type = 'range' min = 0 max = 255 value = 200>

                                </li>



                                <li class = 'sub' id = 'canny'>Submit</li>

                            </section>

                        </li>


                    </section>
                    
                </section>

                <section class = 'dropdown level-1'>

                    <button id = 'Morphology' class = 'btn dropbtn'>Morphology</button>

                    <section class = 'level-2'>
                        
                        <li>Dilation
                   
                            <section  class = 'dropdown-menu level-3'>

                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>
                                    <input id = 'Dilation-Kernel' type = 'range' min = 1 max = 11 value = 3>
     
                                </li>

                                <li class = 'value-bar'>

                                    Iteration  :  <p class = 'values'>1</p>
                                    <input id = 'Dilation-Iteration' type = 'range' min = 1 max = 10 value = 1>
     
                                </li>

                           
                                <li class = 'sub' id = 'dilate'>Submit</li>

                            </section>

                        </li>

                        <li>Erosion

                            <section  class = 'dropdown-menu level-3'>
                                

                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>
                                    <input id = 'Erosion-Kernel' type = 'range' min = 1 max = 11 value = 3>
     
                                </li>

                                <li class = 'value-bar'>

                                    Iteration  :  <p class = 'values'>1</p>
                                    <input id = 'Erosion-Iteration' type = 'range' min = 1 max = 10 value = 1>
     
                                </li>

                                <li class = 'sub' id = 'erode'>Submit</li>

                            </section>

                        </li>

                        <li>Opening

                            <section  class = 'dropdown-menu level-3'>
                                

                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>
                                    <input id = 'Opening-Kernel' type = 'range' min = 1 max = 11 value = 3>
     
                                </li>

                                <li class = 'sub' id = 'opening'>Submit</li>

                            </section>

                        </li>

                        <li>Closing

                            <section  class = 'dropdown-menu level-3'>
                                

                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>
                                    <input id = 'Closing-Kernel' type = 'range' min = 1 max = 11 value = 3>
     
                                </li>


                                <li class = 'sub' id = 'closing'>Submit</li>

                            </section>

                        </li>

                        <li>Morphological Gradient

                            <section  class = 'dropdown-menu level-3'>
                                

                                <li class = 'value-bar'>

                                    Kernel  :  <p class = 'values'>3</p>
                                    <input id = 'Morphological-Gradient-Kernel' type = 'range' min = 1 max = 11 value = 3>
     
                                </li>


                                <li class = 'sub' id = 'Morphological-Gradient'>Submit</li>

                            </section>

                        </li>



                    </section>
                    
                </section>

                <section class = 'dropdown level-1'>

                    <button id = 'segmentation' class = 'btn dropbtn'>Segment</button>


                    <section class = 'level-2'>
                        <li>Slic
                        
                            <section  class = 'dropdown-menu level-3'>
                                
                                <li class = 'value-bar'>

                                    n segments :  <p class = 'values'>5</p>
                                    <input id = 'slic-n'  type = 'range' min = 0 max = 100 step = 1 value = 5>
                                </li>

                                <li class = 'value-bar'>
                                    compactness :  <p class = 'values'>1</p>
                                    <input id = 'slic-compactness'  type = 'range' min = 1 step = 1 max = 100 value = 1>
                                </li>

                                <li class = 'value-bar'>
                                    sigma :  <p class = 'values'>1</p>
                                    <input id = 'slic-sigma'  type = 'range' min = 0 
                                    max = 1 step = 0.1 value = 1>

                                </li>

                                

                                <li class = 'sub' id = 'slic'>Submit</li>

                            </section>

                        </li>
                        
                        <li class = 'sub' id = 'watershed'>Watershed</li>

                       
                        <li>Meanshift
                        
                            <section  class = 'dropdown-menu level-3'>
                                
                                <li class = 'value-bar'>

                                    Spatial  :  <p class = 'values'>9</p>
                                    <input id = 'meanshift-Spatial'  type = 'range' min = 0 max = 300 value = 9>

                                </li>

                                <li class = 'value-bar'>
                    
                                    Color  :  <p class = 'values'>20</p>
                                    <input id = 'meanshift-Color'  type = 'range' min = 0 max = 300 value = 20>

                                </li>

                                <li class = 'sub' id = 'meanshift'>Submit</li>

                            </section>

                        </li>

                        <li>Felzenszwalb
                        
                            <section  class = 'dropdown-menu level-3'>
                                
                                <li class = 'value-bar'>

                                    Scale :  <p class = 'values'>1</p>
                                    <input id = 'felzenszwalb-scale'  type = 'range' min = 0 max = 500 value = 10>
                                </li>

                                <li class = 'value-bar'>
                                    Sigma :  <p class = 'values'>0.8</p>
                                    <input id = 'felzenszwalb-sigma'  type = 'range' min = 0 max = 1 step = 0.1 value = 0.8>
                                </li>

                                <li class = 'value-bar'>
                                    min :  <p class = 'values'>20</p>
                                    <input id = 'felzenszwalb-min'  type = 'range' min = 0  value = 20>

                                </li>

                                

                                <li class = 'sub' id = 'felzenszwalb'>Submit</li>

                            </section>

                        </li>

                        

                        <li>Quick Shift
                        
                            <section  class = 'dropdown-menu level-3'>
                                
                                <li class = 'value-bar'>

                                    kernel :  <p class = 'values'>5</p>
                                    <input id = 'quickshift-kernel'  type = 'range' min = 3 max = 100 step = 2 value = 5>
                                </li>

                                <li class = 'value-bar'>
                                    max dist :  <p class = 'values'>10</p>
                                    <input id = 'quickshift-max-dist'  type = 'range' min = 0 step = 10 max = 500 value = 10>
                                </li>

                                <li class = 'value-bar'>
                                    ratio :  <p class = 'values'>1</p>
                                    <input id = 'quickshift-ratio'  type = 'range' min = 0.1
                                    max = 1 step = 0.1 value = 1>

                                </li>

                                

                                <li class = 'sub' id = 'quickshift'>Submit</li>

                            </section>

                        </li>


                    </section>
                    
                </section>


                <section class = 'dropdown level-1'>

                    <button id = 'noise' class = 'btn dropbtn'>Noise</button>
                    <section class = 'level-2'>

                        <li>Gaussian
                            
                            <section  class = 'dropdown-menu level-3'>
                                    
                                <li class = 'value-bar'>

                                    Mean : <p class = 'values'>0</p>
                                    <input id = 'gaussian-mean'  type = 'range' min = 0 max = 255 value = 0>

                                </li>

                                <li class = 'value-bar'>

                                    Deviation : <p class = 'values'>50</p>
                                    <input id = 'gaussian-deviation'  type = 'range' min = 0 max = 255 value = 50>

                                    </li>

                                <li class = 'sub' id = 'gaussian'>Submit</li>

                            </section>

                        </li>

                        <li>Exponential
                            
                            <section  class = 'dropdown-menu level-3'>
                                    
                                <li class = 'value-bar'>

                                    Scale : <p class = 'values'>11</p>
                                    <input id = 'exponential-scale'  type = 'range' min = 0 max = 100 value = 11>

                                    </li>

                                    <li class = 'sub' id = 'exponential'>Submit</li>

                            </section>

                        </li>

                        <li>Gamma
                            
                            <section  class = 'dropdown-menu level-3'>
                                    
                                <li class = 'value-bar'>

                                    shape: <p class = 'values'>3</p>
                                    <input id = 'gamma-shape'  type = 'range' min = 1 max = 100 value = 3>

                                </li>

                                <li class = 'value-bar'>

                                    scale : <p class = 'values'>3</p>
                                    <input id = 'gamma-scale'  type = 'range' min = 1 max = 100 value = 3>

                                </li>

                                <li class = 'sub' id = 'gamma'>Submit</li>

                            </section>

                        </li>

                        <li>Rayleigh
                            
                            <section  class = 'dropdown-menu level-3'>
                                    
                                <li class = 'value-bar'>

                                    Scale : <p class = 'values'>13</p>
                                    <input id = 'rayleigh-scale'  type = 'range' min = 0 max = 100 value = 13>

                                </li>

                                <li class = 'sub' id = 'rayleigh'>Submit</li>

                            </section>

                            </li>

                        <li>Uniform

                            <section  class = 'dropdown-menu level-3'>
                                    
                                <li class = 'value-bar'>

                                    Low : <p class = 'values'>0</p>
                                    <input id = 'uniform-low'  type = 'range' min = -1 max = 1 value = 0>

                                </li>

                                <li class = 'value-bar'>

                                    Heigh : <p class = 'values'>1</p>
                                    <input id = 'uniform-high'  type = 'range' min = -1 max = 1 value = 1>

                                </li>

                                <li class = 'sub' id = 'uniform'>Submit</li>

                            </section>

                        </li>                    
                            
                        <li class = 'sub' id = 'SaltPepper'>Salt and Pepper</li>
                            
                    </section>
                    
                </section>
                
                <!--section id = 'undo' class = 'dropdown'>
                    <button class = 'btn dropbtn'>Undo</button> 
                </section>

                <section id = 'redo' class = 'dropdown'>
                    <button class = 'btn dropbtn'>Redo</button>  
                </section>

                <section id = 'toggle' class = 'dropdown'>
                    <button class = 'btn dropbtn'>Toggle</button>  
                </section>

                <section id = 'reset' class = 'dropdown'>
                    <button class = 'btn dropbtn'>Reset</button>  
                </section-->





            </section>


            <div id = 'bar'>

                <hr>

            </div>


            <div id = 'image-area'>

                <div id = 'original-image-area'>
                   
                    <!--img id = 'original-image' src = '{% static "tmp/2016-05-2815-53-27-310297.png" %}'></img-->
                </div>

                <div id = 'processing-image-area'>
                    
                    <img id = 'processing-image' src = '{% static "tmp/2016-05-2815-53-27-310297.png" %}'></img>

                </div>

            </div>

        </div>

        <div>
            <script src = "{% static 'js/jquery-1.12.4.min.js' %}" defer></script>
            <script src = "{% static 'js/bootstrap.min.js' %}" defer></script>
            <script src = "{% static 'js/vendor/jquery.ui.widget.js' %}" defer></script>
            <script src = "{% static 'js/jquery.iframe-transport.js' %}" defer></script>
            <script src = "{% static 'js/jquery.fileupload.js' %}" defer></script>
            <script src = "{% static 'js/image.js' %}" defer></script>
        </div>

    </body>
    
</html>
